<!-- <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tout- Everything at One Place</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    

  </div> 
  
  
</nav>     -->

<body style="background-image:url('../../assets/Login1.jpg') ;">       
<div class="row pt-3">
        <div class="col-md-6 mx-auto">
          <span class="anchor" id="formLogin"></span>
    
          <div class="card text-white bg-dark mb-9">
            <img src=".../../../../assets/Login1.jpg" class="card-img-top" alt="Login1">

            <div class="card-header">
              <h3 class="mb-0">Login</h3>
            </div>
            <div class="card-body">
              
                <form class="box" method="POST" #loginForm="ngForm">
                  <div class="form-group" [class.has-error]="email.invalid && email.touched">
                  <label for="uname1">Email</label>
                  <div class="form-group" [class.has-error]="email.invalid && email.touched">

                    <input required email type="text" class="form-control" [(ngModel)]="loginUserData.email" #email="ngModel" name="email" placeholder="Enter Email" id="email" required>
            
                  <span class="text-danger" *ngIf="email.errors?.required && email.touched">Email is Required </span>
            
                  <span class="text-danger" *ngIf="email.errors?.email && email.touched">Email is Invalid </span>
            
                  </div>
                </div>
            
                  <!-- <input type="email" [(ngModel)]="loginUserData.email"   name="email" class="form-control rounded-0" required> -->
                
                <div class="form-group">
                  <label>Password</label>
                  <div class="form-group">

                    <input type="password"  [class.is-invalid]="password.invalid && password.touched" required password #password="ngModel" class="form-control" [(ngModel)]="loginUserData.password" name="password" placeholder="Enter Password" id="password" required>
            
                    <div *ngIf="password.errors && (password.invalid || password.touched)">
            
                        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password Required</small>
            
                    </div>
            
                    </div>
                  <!-- <input type="password" [(ngModel)]="loginUserData.password"   name="password" class="form-control rounded-0"  required> -->
                </div>
              
                
                <a tabindex="0"  class="btn btn-primary float-left" role="button" data-toggle="popover" data-trigger="focus" title="New User Sign up" routerLink='/register'>Register</a>
                <!-- <a tabindex="0"  class="btn btn-link float-middle" role="button" data-toggle="popover" data-trigger="focus" title="Forgot your password?">Forgot your password?</a> -->
                <!-- <button type="button" class="btn btn-link float-middle">Forgot password?</button> -->
                <!-- <button type="button"  (click)="loginUser()" class="btn btn-success float-right">Login</button> -->
                <button tabindex="0" [disabled]="loginForm.form.invalid"    class="btn btn-success float-right" (click)="loginUser()" role="button"  data-toggle="popover" data-trigger="focus" title="Login to continue" data-placement="top" value="top">Login</button>

              </form>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
    
        </div>
      </div>
  </body>
  
    <!--Register
    website info
    contact info
    payment info
     view cart
    -->
 
  