<!-- <div class="chatform">
	<div class="chatlist" #chatlist>
		<ul class="list-group">
			<li class="list-group-item">
				<img  src='../../assets/bot.png 'class="avatar">
				<div class="message">
	                Welcome to my Chatbot
				</div>
				<div class="timeform">
					<i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">2nd December 2020</span>
				</div>
			</li>
		</ul>
	</div>
	

	<form  class="chatcontrol" (submit)="sendmessage(message_content)">
	  	<div class="input-group mb-3">
		  <input type="text" class="form-control chatinput" placeholder="Enter your Message" name="content" aria-label="Enter your Message" aria-describedby="Enter your Message"  #message_content/>
		
		    <button class="btn btn-primary sendbtn"  type="button" (click)="sendmessage(message_content)">Send</button>

		</div>
	</form>
</div>			 -->
<body>
    <div class="brand">
       
        <span class="brand-name">TOUT VOICE ASSISTANT</span>
        <img  class="logo" src="../../assets/bot.png" alt="" width="50px">
        <p align="center" style="font-size: large;"><B>Note:</B> You can get the partical answers using the bot.The bot is built with ai.Must use for help purpose and Basic FAQ</p>
      </div>
    <div class="container">
        <div id='bodybox'>
            <div id='chatborder'>
              <p id="chatlog9" class="chatlog">&nbsp;</p>
              <p id="chatlog8" class="chatlog">&nbsp;</p>
              <p id="chatlog7" class="chatlog">&nbsp;</p>
              <p id="chatlog6" class="chatlog">&nbsp;</p>
              <p id="chatlog5" class="chatlog">&nbsp;</p>
              <p id="chatlog4" class="chatlog">&nbsp;</p>
              <p id="chatlog3" class="chatlog">&nbsp;</p>
              <p id="chatlog2" class="chatlog">&nbsp;</p>
              <p id="chatlog1" class="chatlog">&nbsp;</p>
              <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()" class="form-control">
            </div>
        </div>
        <br>
    </div>
</body>