<!--  
 <br>
 
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="../../assets/mobiles.png" class="card-img-top" alt="a">
      <div class="card-body">
        <h4 class="card-title">MOBILES</h4>
        <p class="card-text">You still not having a phone!! Comeon lets get One for you</p>
        <button class="btn btn-primary" routerLink='/mobiles'>View More</button>

      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../../assets/laptops.jpg" class="card-img-top" alt="b">
      <div class="card-body">
        <h4 class="card-title">LAPTOPS</h4>
        <p class="card-text">Laptops give students the flexibility and freedom they need to work on academic assignments anytime, anywhere Lets find best one for you!!</p>
        <button class="btn btn-primary" routerLink='/laptops'>View More</button>

      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../../assets/tvs.jpg" class="card-img-top" alt="c">
      <div class="card-body">
        <h4 class="card-title">Televisions</h4>
        <p class="card-text">Did your TV got old?? Here you can find the best Television for your family</p>
        <p>The television set has become a commonplace in many households, businesses, and institutions. It is a major vehicle for advertising.</p>
        <p>Television is a medium that improves the world, triggers the imagination, raises curiosity, encourages education and gathers millions around common interests.</p>
         <br>
        <button class="btn btn-primary" routerLink='/Telivisions'>View More</button>

      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../../assets/headphones1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Headphones</h4>
        <p class="card-text">If you want to escape from the outside world, eliminate the noise around you. Then just lose yourself in your music, what better way is there to do it than by using a headphone?</p>
        <button class="btn btn-primary" routerLink='/Headphones'>View More</button>

      </div>
    </div>
  </div>


<div class="col mb-4">
  <div class="card">
    <img src="../../assets/laptop_bag2.jpg" class="card-img-top" alt="d">
    <div class="card-body">
      <h4 class="card-title">Laptop Bags</h4>
      <p class="card-text">An ideal laptop bag is the one that keeps your laptop safe, but fitting snugly without any fear of slipping while you carry it around. Before buying ensure the laptop sleeve is the right to match the laptop size.</p>
      <button class="btn btn-primary" routerLink='/Laptop_bags'>View More</button>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card">
    <img src="../../assets/laptops.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Sports Items</h4>
      <p class="card-text">Benefits of Sports for Adolescents. Many athletes do better academically. Playing a sport requires a lot of time and energy</p>
      <button class="btn btn-primary" routerLink='/sportsitems'>View More</button>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card">
    <img src="../../assets/Mouse.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Mouses</h4>
      <p class="card-text">A computer mouse is an input device that is used with a computer. Moving a mouse along a flat surface can move the cursor to different items on the screen.</p>
      <button class="btn btn-primary" routerLink='/mouses'>View More</button>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card">
    <img src="../../assets/Mobile_accesories_13.jpg" class="card-img-top" alt="a">
    <div class="card-body">
      <h4 class="card-title">MOBILE ACCESORIES</h4>
      <p class="card-text">Mobile accessories include any hardware that is not integral to the operation of a mobile smartphone as designed by the manufacturer.All types of Mobile accesories are available here Have a look!!</p>
      <button class="btn btn-primary" routerLink='/Mobile_accesories'>View More</button>

    </div>
  </div>
</div>
</div>
Card -->
<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
  

    <div class="container">

        <div class="card">
        

            <div class="face face1">

                <div class="content">
                    <img src="../../assets/Home/mobile.jpg">
                    <h3>Mobiles</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>You still not having a phone!! Comeon lets get One for you</p>
                        <a routerLink='/mobiles'>View Now</a>
                </div>
            </div>
        </div>
        <div class="card">
        

          <div class="face face1">

              <div class="content">
                  <img src="../../assets/Home/laptop.png">
                  <h3>Laptops</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p> Laptops help us to work on academic assignments anytime, anywhere Lets find best one for you!!</p>
                      <a routerLink='/laptops'>View Now</a>
              </div>
          </div>
      </div>
      <div class="card">
        

        <div class="face face1">

            <div class="content">
                <img src="../../assets/Home/headphone.jpg">
                <h3>Headphones</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>To escape from this world and to relax your soul headphones are must!!</p>
                    <a routerLink='/Headphones'>View Now</a>
            </div>
        </div>
    

    </div>
</div>



<br><br>
  <div class="container">

      <div class="card">
      

          <div class="face face1">

              <div class="content">
                  <img src="../../assets/Home/laptop.png">
                  <h3>Telivisions</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Telivisions acts as great companion to pass our free time</p>
                      <a routerLink='/Telivisions'>View Now</a>
              </div>
          </div>
      </div>
      <div class="card">
      

        <div class="face face1">

            <div class="content">
                <img src="../../assets/Home/mouse.png">
                <h3>Mouses</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Without mouses computers are just machines lets get one for you</p>
                    <a routerLink='/mouses'>View Now</a>
            </div>
        </div>
    </div>
    <div class="card">
      

      <div class="face face1">

          <div class="content">
              <img src="../../assets/Home/laptopbag.jpg">
              <h3>Laptop Bags</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>You still not having a phone!! Comeon lets get One for you</p>
                  <a routerLink='/mobiles'>View Now</a>
          </div>
      </div>
  

  </div>
</div>


</html>
    
<app-footer></app-footer>